{% extends 'registration/auth.html' %}

{% block block_title %} Login {% endblock%}%}

{% block center %}<a href="{% url 'index' %}" class="-logo -img" style="font-weight: bold; font-size: 25px">PyFlow</a>{% endblock %}
                
{% block label_name %}
    Имя
{% endblock %}

{% block password %}                        
                        <div class="d-flex fd-column-reverse gs4 gsy">
                            <div class="d-flex ps-relative">
                                <input class="flex--item s-input" type="password" autocomplete="off" name="password" id="id_password">
                            </div>
                            <div class="d-flex ai-center ps-relative jc-space-between">
                                <label class="flex--item s-label">Пароль</label>
<!--                                <a class="grid&#45;&#45;cell s-link fs-caption" href="">Забыли пароль?</a>-->
                            </div>
                        </div>
{% endblock %}
                        
{% block button %} Войти {% endblock %}                        

{% block bottom_link %} Ещё нет учётной записи? <a href="{% url 'signup' %}">Зарегистрируйтесь</a>{% endblock %}                    
