{% extends 'registration/auth.html' %}

{% block block_title %} Login {% endblock%}%}

{% block center %}<a href="{% url 'index' %}">PyFlow</a>{% endblock %}
                
{% block label_name %}
    Имя
{% endblock %}

{% block password %}                        
                        <div class="grid fd-column-reverse gs4 gsy">
                            <div class="grid ps-relative">
                                <input class="grid--cell s-input" type="password" autocomplete="off" name="password" id="id_password">
                            </div>
                            <div class="grid ai-center ps-relative jc-space-between">
                                <label class="grid--cell s-label">Пароль</label>
                                <a class="grid--cell s-link fs-caption" href="">Забыли пароль?</a>
                            </div>
                        </div>
{% endblock %}
                        
{% block button %} Войти {% endblock %}                        

{% block bottom_link %} Ещё нет учётной записи? <a href="{% url 'signup' %}">Зарегистрируйтесь</a>{% endblock %}                    
