{% extends 'base.html' %}

{% block title %} login {% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock content %}


<h2>Log In</h2>
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="KUOa6hYbES6ZCI3cBDmEGAn6RtSododTH2kIYrXyOMbmXehO61SR9qd4jKStkym5">
  <p><label for="id_username">Username:</label>
    <input type="text" name="username" autofocus autocapitalize="none"
           autocomplete="username" maxlength="150" required id="id_username"></p>
<p><label for="id_password">Password:</label>
  <input type="password" name="password"
         autocomplete="current-password" required id="id_password"></p>
  <button type="submit">Log In</button>
</form>