{% extends 'base.html' %}

{% block title %} {% block block_title %}{% endblock %} {% endblock %}

{% block body %}
<body class="ask-page unified-theme floating-content">
{% endblock %}

{% block content %}
    <div class="pt0 snippet-hidden" id="content">
        <div class="grid ai-center py24 bg-no-repeat bg-right-bottom">
            {% block headline %}{% endblock%}
        </div>
        <div class="grid ai-start jc-space-between">
            <div class="grid--cell fl1 wmn0">
                {% block form_action %}{% endblock%}
                    {% csrf_token %}
                    <div id="question-form">
                        <div class="bg-white bar-sm bs-md p16 ba bc-black-100">
                            <div class="ps-relative mb16" id="post-title">
                                <div class="grid fl1 fd-column">
                                    <label class="d-block s-label mb4">
                                        Заголовок
                                        <div class="grid">
                                            <p class="s-description mt2 grid--cell9">Будьте конкретны. Представьте, что
                                                вы задаёте вопрос другому человеку.</p>
                                        </div>
                                    </label>
                                    <div class="fl1 ps-relative">{% block input_title %}{% endblock%}</div>
                                </div>
                            </div>
                            <div class="post-editor mt0 mb16">
                                <div class="ps-relative">
                                    <label class="s-label mb4 d-block">
                                        Основная часть
                                        <p class="s-description mt2">Добавьте всю информацию, которая может понадобиться
                                            для ответа на ваш вопрос</p>
                                    </label>
                                    <div class="wmd-container mb8">
                                        <div class="ps-relative">
                                            <textarea class="wmd-input s-input bar0" name="content">{% block content_text %}{% endblock %}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="ps-relative">
                                    <label class="s-label mb4 d-block">
                                        Код
                                        <p class="s-description mt2">Добавьте блок кода, который может понадобиться для
                                            ответа на ваш вопрос</p>
                                    </label>
                                    <div class="wmd-container mb8">
                                        <div class="ps-relative">
                                            <textarea class="wmd-input s-input bar0" name="content_code">{% block content_code_text %}{% endblock %}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-relative">
                                <div class="ps-relative">
                                    <div class="form-item p0">
                                        <div class="grid ai-center jc-space-between">
                                            <label class="s-label mb4 d-block grid--cell fl1">
                                                Метки
                                                <div class="s-description mt2">Добавьте не более 5 меток, описывающих, о
                                                    чём ваш вопрос
                                                </div>
                                            </label>
                                        </div>
                                        <div class="ps-relative">
                                            <div class="grid fw-wrap">
                                                <div class="grid--cell fl1">
                                                    {% block input_tags %}{% endblock %} 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:10px">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                <p style="color: red">{{ field }}: {{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% block button %}{% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}