{% extends 'base.html' %}

{% block title %} {% block block_title %}{% endblock %} {% endblock %}

{% block body %}
<body class="ask-page unified-theme floating-content">
{% endblock %}

{% block content %}
    <div class="pt0 snippet-hidden" id="content">
        <div class="d-flex ai-center py24 bg-no-repeat bg-right-bottom">
            {% block headline %}{% endblock%}
        </div>
        <div class="d-flex ai-start jc-space-between">
            <div class="flex--item fl1 wmn0">
                <form action="{% block form_action %}{% endblock %}" class="post-form" id="post-form" method="post">{% csrf_token %}
                    <div id="question-form">
                        <div class="bg-white bar-sm bs-md p16 ba bc-black-100">
                            <div class="ps-relative mb16" id="post-title">
                                <div class="d-flex fl1 fd-column">
                                    <label class="d-block s-label mb4">
                                        Заголовок
                                        <div class="d-flex">
                                            <p class="s-description mt2 flex--item">Будьте конкретны. Представьте, что
                                                вы задаёте вопрос другому человеку.</p>
                                        </div>
                                    </label>
                                    <div class="fl1 ps-relative">
                                        <input class="s-input"
                                               id="id_title" name="title"
                                               placeholder="В чём заключается ваш вопрос? Будьте конкретны."
                                               type="text"
                                               value="{% if form.title.value %}{{ form.title.value }}{% else %}{{ post.title }}{% endif %}">
                                    </div>
                                    {% for error in form.title.errors %}
                                    <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="post-editor mt0 mb16">
                                <div class="ps-relative">
                                    <label class="s-label mb4 d-block">
                                        Основная часть
                                        <p class="s-description mt2">Добавьте всю информацию, которая может понадобиться
                                            для ответа на ваш вопрос</p>
                                    </label>
                                    <div class="wmd-container mb8">
                                        <div class="ps-relative">
                                            <textarea class="wmd-input s-input bar0"
                                                      id="id_content"
                                                      name="content">{% if form.content.value %}{{ form.content.value }}{% else %}{{ post.content }}{% endif %}</textarea>
                                        </div>
                                        {% for error in form.content.errors %}
                                         <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ps-relative">
                                    <label class="s-label mb4 d-block">
                                        Код
                                        <p class="s-description mt2">Добавьте блок кода, который может понадобиться для
                                            ответа на ваш вопрос</p>
                                    </label>
                                    <div class="wmd-container mb8">
                                        <div class="ps-relative">
                                            <textarea class="wmd-input s-input bar0"
                                                      id="id_content_code"
                                                      name="content_code">{% if form.content_code.value %}{{ form.content_code.value }}{% else %}{{ post.content_code }}{% endif %}</textarea>
                                        </div>
                                        {% for error in form.content_code.errors %}
                                         <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="ps-relative">
                                <div class="ps-relative">
                                    <div class="form-item p0">
                                        <div class="d-flex ai-center jc-space-between">
                                            <label class="s-label mb4 d-block flex--item fl1">
                                                Метки
                                                <div class="s-description mt2">Добавьте не более 5 меток, описывающих, о
                                                    чём ваш вопрос
                                                </div>
                                            </label>
                                        </div>
                                        <div class="ps-relative">
                                            <div class="d-flex fw-wrap">
                                                <div class="flex--item fl1">
                                                    <input class="s-input box-border"
                                                           name="tags"
                                                           placeholder="например, #python #django"
                                                           type="text"
                                                           value="{% if form.tags.value %}{{ form.tags.value }}{% else %}{{ tags }}{% endif %}">
                                                </div>
                                            </div>
                                            {% for error in form.tags.errors %}
                                            <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block button %}{% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
