{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock%}

{% block body %}
<body class="question-page unified-theme">
{% endblock%}

{% block content %}
    <div id="content">
        <div class="inner-content clearfix">
            <div class="grid sm:fd-column" id="question-header">
                <h1 class="fs-headline1 ow-break-word mb8 grid--cell fl1" itemprop="name">
                    <a class="question-hyperlink" href="">{{ post.title }}</a>
                </h1>
                <div class="ml12 aside-cta grid--cell print:d-none sm:ml0 sm:mb12 sm:order-first sm:as-end">
                    {% if user.is_authenticated %}
                    <a class="ws-nowrap s-btn s-btn__primary" href="{% url 'create-post' %}">Create Post</a>
                    {% else %}
                    <a class="ws-nowrap s-btn s-btn__primary" href="{% url 'login' %}">Create Post</a>
                    {% endif %}
                </div>
            </div>
            <div class="grid fw-wrap pb8 mb16 bb bc-black-075">
                <div class="grid--cell ws-nowrap mr16 mb8" title="2018-09-17 10:31:52Z">
                    <span class="fc-light mr2">Post created</span>
                    <time datetime="2018-09-17T10:31:52" itemprop="dateCreated"> {{ post.create_at }}</time>
                </div>
                <div class="grid--cell ws-nowrap mb8" title="Просмотрен 373 раза">
                    <span class="fc-light mr2"> Viewed </span>
                    {{ post.shows.count }} times
                </div>
            </div>
            <div aria-label="question and answers" id="mainbar" role="main">
                <div class="question" data-ownerid="303574" data-questionid="882233" data-score="2" id="question">
                    <div class="post-layout">
                        <div class="votecell post-layout--left">
                            <div class=" grid jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="882233">
                                <form method="post" action="{% url 'rating' obj_type='post' pk=post.pk %}">{% csrf_token %}
                                    {% if user.is_authenticated %}
                                        {% if not liked_post_by_user %}
                                    <button class="grid--cell s-btn s-btn__unset c-pointer" value="like" name="button">
                                        <svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" height="36" viewBox="0 0 36 36"
                                             width="36"><path d="M2 26h32L18 10 2 26z"/></svg>
                                    </button>
                                        {% endif %}
                                    {% endif %}
                                    <div class="grid--cell fc-black-500 fs-title grid fd-column ai-center">{{ post_rating }}</div>
                                    {% if user.is_authenticated %}
                                        {% if not liked_post_by_user %}
                                    <button class="grid--cell s-btn s-btn__unset c-pointer" value="dislike" name="button">
                                        <svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" height="36" viewBox="0 0 36 36"
                                             width="36"><path d="M2 10h32L18 26 2 10z"/></svg>
                                    </button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                        <div class="postcell post-layout--right">
                            <div class="s-prose js-post-body" itemprop="text">
                                <p>{{ post.content }}</p>
                                <pre><code>{{ post.content_code }}</code></pre>
                            </div>
                            <div class="mt24 mb12">
                                <div class="post-taglist grid gs4 gsy fd-column">
                                    <div class="grid ps-relative">
                                        {% for tag in post.tags.all %}
                                        <a class="post-tag" href="" rel="tag" title="">{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb0 ">
                                <div class="mt16 grid gs8 gsy fw-wrap jc-end ai-start pt4 mb16">
                                    <div class="grid--cell mr16 fl1 w96">
                                        <div class="pt2" data-post-id="882233">
                                            <div class="grid d-flex gs8 s-anchors s-anchors__muted fw-wrap">
                                                <div class="grid--cell">
                                                    {% if user.is_authenticated %}
                                                    <a href="{% url 'send-post' post.pk %}" title="">Share</a>
                                                    {% if user == post.user %}
                                                    <a href="{% url 'edit-delete-post' post.pk %}" title="">Edit</a>
                                                    {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-signature owner grid--cell">
                                        <div class="user-info ">
                                            <div class="user-action-time">Create at <span class="relativetime">{{ post.create_at }}</span>
                                            </div>
                                            <div class="user-details">
                                                <a href="">{{ post.user.username }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-layout--right">
                            <div class="comments bt bc-black-075 mt12 ">
                                <ul class="comments-list">
                                    {% for comment in comments %}
                                    <li class="comment">
                                        <div class="comment-actions">
                                            <div class="comment-score">
                                                <form method="post" action="{% url 'rating' obj_type='comment' pk=comment.pk %}">
                                                    {% csrf_token %}
                                                    {% if user.is_authenticated %}
                                                        {% if comment not in comment_add_or_like_by_user %}
                                                    <button class="grid--cell s-btn s-btn__unset c-pointer" value="like" name="button">
                                                        <svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg"
                                                             width="12" height="12" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"/></svg>
                                                    </button>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if comment.rating %}
                                                    <div class="grid--cell fc-black-500 fs-title-small grid fd-column ai-center">{{ comment.rating }}</div>
                                                    {% else %}
                                                    <div class="grid--cell fc-black-500 fs-title-small grid fd-column ai-center"></div>
                                                    {% endif %}
                                                    {% if user.is_authenticated %}
                                                        {% if comment not in comment_add_or_like_by_user %}
                                                    <button class="grid--cell s-btn s-btn__unset c-pointer" value="dislike" name="button">
                                                        <svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg"
                                                             width="12" height="12" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"/></svg>
                                                    </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                        <div class="comment-text  js-comment-text-and-form">
                                            <div class="comment-body js-comment-edit-hide">
                                                <span class="comment-copy">{{ comment.comment }}</span> - <a
                                                    class="comment-user" href="" title="">{{ comment.user }}</a>
                                                <span class="comment-date" dir="ltr"><span class="relativetime-clean">{{ comment.create_at }}</span></span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if user.is_authenticated %}
                            <div data-reg=true data-rep=50>
                                <p class="comments-link disabled-link">Add Comment</p>
                                <span class="dno">|</span>
                            </div>
                            <div>
                                <form action="{% url 'detail' post.pk %}" class="grid--cell fl-grow1 px12"
                                      method="post">{% csrf_token %}
                                    <textarea class="s-textarea" name="comment" style="margin-top: 10px"></textarea>
                                    <input class="ws-nowrap s-btn s-btn__primary" type="submit" value="Add comment">
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-votes" id="sidebar">
                <div class="module sidebar-related">
                    <h4 id="h-related">Похожие</h4>
                    <div class="related">
                        {% for post in post_by_tags %}
                        <div class="spacer">
                            <!--                                <a href="/q/126892" title="Затемнение родительского окна (wpf)">-->
                            <!--                                    <div class="answer-votes answered-accepted default">3</div>-->
                            <!--                                </a>-->
                            <a class="question-hyperlink" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}