{% extends 'posts_content.html' %}

{% block topbar %}
                <div class="grid--cell ml16 fl-shrink0">
                    <div class=" grid s-btn-group">
                        <form method="get" action="{% url 'post-by-date' %}">
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="top">Топ</button>
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="week">За неделю</button>
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="month">За месяц</button>
                        </form>
                    </div>
                </div>
{% endblock %}

{% block related_posts %}
            <div class="module sidebar-related">
                <h4>Популярные</h4>
                <div class="related">
                    {% for post in posts_popular %}
                    <div class="spacer">
                        <a class="question-hyperlink" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}