{% extends 'base.html' %}

{% block title %} PyFlow {% endblock%}

{% block body %}
<body class="home-page unified-theme">
{% endblock%}

{% block content %}
    <div id="content">
        <div id="mainbar">
            <div class="grid">
                <h1 class="grid--cell fl1 fs-headline1"><a href="{% url 'index' %}">Posts</a></h1>
                <div class="ml12 aside-cta grid--cell print:d-none">
                    {% if user.is_authenticated %}
                    <a class="ws-nowrap s-btn s-btn__primary" href="{% url 'create-post' %}">Create Post</a>
                    {% else %}
                    <a class="ws-nowrap s-btn s-btn__primary" href="{% url 'login' %}">Create Post</a>
                    {% endif %}
                </div>
            </div>
            <div class="grid ai-end mb16 sm:fd-column">
                <div class="grid--cell ml16 fl-shrink0">
                    <div class=" grid s-btn-group">
                        <form method="get" action="{% url 'post-by-date' %}">
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="top">Топ</button>
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="week">За неделю</button>
                            <button class="grid--cell s-btn s-btn__muted s-btn__outlined" name="button" value="month">За месяц</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flush-left" id="qlist-wrapper">
                <div id="question-mini-list">
                    <div>
                        {% for post in posts %}
                        <div class="question-summary narrow">
                            <div class="cp">
                                <div class="votes">
                                    <div class="mini-counts">
                                        {% if post.rating %}
                                        <span title="">{{ post.rating }}</span>
                                        {% else %}
                                        <span title="">0</span>
                                        {% endif %}
                                    </div>
                                    <div>rating</div>
                                </div>
                                {% if post.comments.count %}
                                <div class="status answered">
                                {% else %}
                                <div class="status unanswered">
                                {% endif %}
                                    <div class="mini-counts">
                                        <span title="">{{ post.comments.count }}</span>
                                    </div>
                                    <div>comments</div>
                                </div>
                                <div class="views">
                                    <div class="mini-counts">
                                        <span title="">{{ post.shows.count }}</span>
                                    </div>
                                    <div>shows</div>
                                </div>
                            </div>
                            <div class="summary">
                                <h3>
                                    <a class="question-hyperlink" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                                </h3>
                                <div class="tags">
                                    {% for tag in post.tags.all %}
                                    <a class="post-tag" href="{% url 'post-by-tag' tag.pk %}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="started">
                                    <a class="started-link" href="{% url 'detail' post.pk %}">задан <span class="relativetime">{{ post.create_at }}</span></a>
                                    <a href="{% url 'profile' %}">{{ post.user.username }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="show-votes" id="sidebar">

            {% block related_posts %}{% endblock %}          

            <div class="module">
                <h4>Метки</h4>
                <div>
                    {% for tag in tags %}
                    <a class="post-tag" href="{% url 'post-by-tag' tag.pk %}">{{ tag.title }}</a>&nbsp;<span class="item-multiplier"><span
                        class="item-multiplier-x">&times;</span>&nbsp;<span
                        class="item-multiplier-count">{{ tag.posts.count }}</span> </span><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}