{% extends 'base.html' %}

{% block title %} Send post by mail {% endblock%}

{% block body %}
<body class="universal-auth-page unified-theme floating-content">
{% endblock%}

{% block content %}
    <div id="content" class="d-flex flex__center snippet-hidden">
        <div>
            <div class="flex--item">
                <div class="ta-center fs-title mx-auto mb24">
                    Поделиться постом:<br>
                    <a class="question-hyperlink" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                </div>
                <div class="mx-auto mb24 p24 wmx3 bg-white bar-lg auth-shadow mb24" id="formContainer">
                    <form class="d-flex fd-column gs12 gsy" method="post" action="{% url 'send-post' post.pk %}">{% csrf_token %}
                        <div class="d-flex fd-column gs4 gsy">
                            <label class="flex--item s-label">Получатель</label>
                            <div class="d-flex ps-relative">
                                <input class="flex--item s-input"
                                       id="id_receiver"
                                       type="email"
                                       name="receiver"
                                       value="{% if form.receiver.value %}{{ form.receiver.value }}{% endif %}">
                            </div>
                            {% for error in form.receiver.errors %}
                            <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="d-flex fd-column-reverse gs4 gsy">
                            {% for error in form.topic.errors %}
                            <div class="s-input-message mt4" style="color: #c02d2e">{{ error }}</div>
                            {% endfor %}
                            <div class="d-flex ps-relative">
                                <input class="flex--item s-input"
                                       type="text"
                                       name="topic"
                                       id="id_topic"
                                       value="{% if form.topic.value %}{{ form.topic.value }}{% endif %}">
                            </div>
                            <div class="d-flex ai-center ps-relative jc-space-between">
                                <label class="flex--item s-label">Тема</label>
                            </div>
                        </div>
                        <div class="d-flex gs4 gsy fd-column">
                            <input class="flex--item s-btn s-btn__primary" type="submit" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
