{% extends 'base.html' %}

{% block title %} PyFlow {% endblock%}

{% block body %}
<body class="home-page unified-theme">
{% endblock%}

{% block content %}
<div class="container">
    <div id="content">
        <div id="mainbar">
            <div class="grid">
                <h1 class="grid--cell fl1 fs-headline1">Posts</h1>
                <div class="ml12 aside-cta grid--cell print:d-none">
                    <a class="ws-nowrap s-btn s-btn__primary" href="{% url 'create-post' %}">Create Post</a>
                </div>
            </div>
            <div class="grid ai-end mb16 sm:fd-column">
            </div>
            <div class="flush-left" id="qlist-wrapper">
                <div id="question-mini-list">
                    <div>
                        {% for post in posts %}
                        <div class="question-summary narrow">
                            <div class="cp">
                                <div class="votes">
                                    <div class="mini-counts">
                                        {% if post.rating %}
                                        <span title="">{{ post.rating }}</span>
                                        {% else %}
                                        <span title="">0</span>
                                        {% endif %}
                                    </div>
                                    <div>rating</div>
                                </div>
                                {% if post.comments.count %}
                                <div class="status answered">
                                {% else %}
                                <div class="status unanswered">
                                {% endif %}
                                    <div class="mini-counts">
                                        <span title="">{{ post.comments.count }}</span>
                                    </div>
                                    <div>comments</div>
                                </div>
                                <div class="views">
                                    <div class="mini-counts">
                                        <span title="">{{ post.shows.count }}</span>
                                    </div>
                                    <div>shows</div>
                                </div>
                            </div>
                            <div class="summary">
                                <h3>
                                    <a class="question-hyperlink" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                                </h3>
                                <div class="tags">
                                    {% for tag in post.tags.all %}
                                    <a class="post-tag" href="">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="started">
                                    <a class="started-link" href="">задан <span class="relativetime">{{ post.create_at }}</span></a>
                                    <a href="">kostyaMosin</a> <span class="reputation-score"
                                                                   dir="ltr"
                                                                   title="уровень репутации 23,899">23.9k</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="show-votes" id="sidebar">
            <div class="module" id="recent-tags">
                <h4 id="h-recent-tags">Метки</h4>
                <div id="recent-tags-list">
                    {% for tag in tags %}
                    <a class="post-tag" href="{% url 'post-by-tag' tag.pk %}" rel="tag" title="">{{ tag.title }}</a>&nbsp;<span class="item-multiplier"><span
                        class="item-multiplier-x">&times;</span>&nbsp;<span
                        class="item-multiplier-count">{{ tag.posts.count }}</span> </span><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}