<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PyFlow</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=3f23ce49e8df">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ru/primary.css?v=584b4d9fe4d9">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ru/secondary.css?v=35a018e77364">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=a4fa343ab089">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
    <body class="universal-auth-page unified-theme floating-content">
        <header class="top-bar _fixed">
            <div class="wmx12 mx-auto grid ai-center h100">
                <div class="-main grid--cell">
                    <a href="" class="-logo -img">PyFlow</a>
                </div>
                <form id="search" method="" action="" class="grid--cell fl-grow1 searchbar px12">
                <div class="ps-relative">
                    <input name="q" type="text" placeholder="Search..." class="s-input s-input__search">
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="M18 16.5l-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"></path></svg>
                </div>
                </form>
                <ol class="overflow-x-auto ml-auto -secondary grid ai-center list-reset h100 user-logged-out" role="presentation">
                    <!-- <li class="-item">
                        <a href="/users/437271/kostya-mosin" class="my-profile js-gps-track" data-gps-track="profile_summary.click()">
                            <div class="gravatar-wrapper-24" title="Kostya Mosin"><img src="https://www.gravatar.com/avatar/cb2b422f3ebccc025911a9e80beeae82?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="24" height="24" class="bar-sm -avatar js-avatar-me"></div><span class="v-visible-sr">Kostya Mosin</span>
                            <div class="-rep js-header-rep" title="ваша репутация: 1" aria-hidden="true">1</div>
                        </a>
                    </li> -->
                    <li class="-ctas">
                        <a href="" class="login-link s-btn s-btn__filled py8 js-gps-track">Войти</a>
                        <a href="" class="login-link s-btn s-btn__primary py8">Регистрация</a>
                    </li>
                </ol>
            </div>
        </header>
        <div class="container">
            <div id="content" class="grid grid__center snippet-hidden">
                <div>
                    <div class="grid--cell">
                        <div class="wmx4 ta-center fs-title mx-auto mb24">Присоединяйтесь к сообществу «Stack Overflow на русском». Это бесплатно и займёт не больше минуты.</div>
                        <div id="formContainer" class="mx-auto mb24 p24 wmx3 bg-white bar-lg auth-shadow mb24">
                            <form id="login-form" class="grid fd-column gs12 gsy" action="/users/signup?ssrc=head" method="POST">
                                <div class="grid fd-column gs4 gsy js-auth-item ">
                                    <label class="grid--cell s-label" for="display-name">Отображаемое имя</label>
                                    <div class="grid ps-relative">
                                        <input class="grid--cell s-input" type="text" name="display-name" id="display-name">
                                        <svg aria-hidden="true" class="s-input-icon js-alert-icon d-none svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18"><path d="M9 17A8 8 0 119 1a8 8 0 010 16zM8 4v6h2V4H8zm0 8v2h2v-2H8z"></path></svg>
                                    </div>
                                    <p class="grid--cell s-input-message js-error-message d-none"></p>
                                </div>
                                <div class="grid fd-column gs4 gsy js-auth-item ">
                                    <label class="grid--cell s-label" for="email">Почта</label>
                                    <div class="grid ps-relative">
                                        <input class="s-input" id="email" type="email" size="30" maxlength="100" name="email">
                                        <svg aria-hidden="true" class="s-input-icon js-alert-icon d-none svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18"><path d="M9 17A8 8 0 119 1a8 8 0 010 16zM8 4v6h2V4H8zm0 8v2h2v-2H8z"></path></svg>
                                    </div>
                                    <p class="grid--cell s-input-message js-error-message d-none"></p>
                                </div>
                                <div class="grid fd-column-reverse gs4 gsy js-auth-item ">
                                    <p class="fs-caption fc-light mt4 mb4">Пароли должны содержать не менее восьми символов, включая как минимум 1 букву и 1 цифру.</p>
                                    <p class="grid--cell s-input-message js-error-message d-none"></p>
                                    <div class="grid ps-relative js-password">
                                        <input class="grid--cell s-input" type="password" autocomplete="off" name="password" id="password">
                                        <svg aria-hidden="true" class="s-input-icon js-alert-icon d-none svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18"><path d="M9 17A8 8 0 119 1a8 8 0 010 16zM8 4v6h2V4H8zm0 8v2h2v-2H8z"></path></svg>
                                    </div>
                                    <div class="grid ai-center ps-relative jc-space-between">
                                        <label class="grid--cell s-label" for="password">Пароль</label>
                                    </div>
                                </div>
                                <div class="grid gs4 gsy fd-column js-auth-item ">
                                    <button class="grid--cell s-btn s-btn__primary" id="submit-button" name="submit-button">Регистрация</button>
                                    <p class="grid--cell s-input-message js-error-message d-none"></p>
                                </div>
                            </form>
                        </div>
                    <div class="mx-auto ta-center fs-body1 p16 pb0 mb24 w100 wmx3 js-redirects">
                        Уже есть учётная запись? <a href="/users/login?ssrc=head" name="login">Войдите</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>