<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=3f23ce49e8df">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ru/primary.css?v=584b4d9fe4d9">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ru/secondary.css?v=35a018e77364">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=a4fa343ab089">
<!--    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">-->
  </head>
  {% block body %}
  {% endblock%}
      <header class="top-bar _fixed">
          <div class="wmx12 mx-auto grid ai-center h100">
              <div class="-main grid--cell">
                <a href="{% url 'index' %}" class="-logo -img" style="font-weight: bold; font-size: 25px">PyFlow</a>
              </div>
              <form id="search" method="get" action="" class="grid--cell fl-grow1 searchbar px12" style="display:none">
              <div class="ps-relative">
                  <input name="q" type="text" placeholder="Search..." class="s-input s-input__search">
                  <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="M18 16.5l-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"></path></svg>
              </div>
              </form>
              <ol class="overflow-x-auto ml-auto -secondary grid ai-center list-reset h100 user-logged-out">
                {% if user.is_authenticated %}
                  <li class="-item">
                    <a href="" class="my-profile">{{ user.username }}</a>
                  </li>
                  <li class="-ctas">
                    <a href="{% url 'logout' %}" class="login-link s-btn s-btn__filled py8">Выход</a>
                  </li>
                  {% else %}
                <li class="-ctas">
                  <a href="{% url 'login' %}" class="login-link s-btn s-btn__filled py8">Войти</a>
                  <a href="{% url 'signup' %}" class="login-link s-btn s-btn__primary py8">Регистрация</a>
                </li>
                  {% endif %}
              </ol>
          </div>
      </header>
  {% block content %}{% endblock %}
  </body>
</html>